<p id="notice"><%= notice %></p>

<p>
  <b>Story:</b>
  <%= @chapter.story_id %>
</p>
<p>
  <b>Subtitle:</b>
  <%= @chapter.subtitle %>
</p>

<p>
  <b>Main chapter:</b>
  <%= @chapter.main_chapter %>
</p>
<p>
  <%= image_tag @chapter.image,:size => '300x200' %>
</p>

<p>
  <b>Creation date:</b>
  <%= @chapter.creation_date %>
</p>


<!-- link_to 'Edit', edit_story_chapter_path(@chapter,@story) -->
<%= link_to 'Back', stories_path(@story) %>
